.foodTile {
    position: relative;
    padding: 10px 10px;
    margin: 10px 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.useByDiv {
    margin: auto;
    background-color: #ddd;
    margin-right: 1em;
    border: 1px solid black;
}

.useByDiv1 {
    margin: auto;
    background-color: #ddd;
    margin-right: 1em;
    border: 1px solid black;
    font-size: .8em;
}

.contentDiv {
    padding: 1em, 1em;
    margin: 1em, 1em;
    background-color: rgba(0, 0, 0, 0.6);
    height: 1000px;
}

.tileRow {
    padding: 1em, 1em;
    margin: 1em, 1em;
}

.top-row {
    margin-top: 0;
    border-radius: 5px;
}

.bottom-row {
    margin-top: 1em;
    border-radius: 5px;
}
