<div class="container" ng-controller="additemCtrl">
    <navbar-directive></navbar-directive> 
    <h2>Search for food</h2>
    <h1>{{title}}</h1>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="searchInput">
        <span class="input-group-addon" ng-click="">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    </div>
        <h3>Results</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="data in data | filter:searchInput">
                    
                    <a ng-click="expanded = !expanded">{{data.food}}<span class="glyphicon glyphicon-triangle-bottom"></span></a>
                    <span class="badge">{{data.state}}</span>
                    <div uib-collapse="!expanded"> 
                        <form>
                            <span>Refridgerator Life: {{data.fridgemin}} - {{data.fridgemax}} days</span>
                            <input type="checkbox" ng-model="data.fridge">
                            <label for="dateInput">Purchase Date</label>
                            <datepicker-directive id="dt"></datepicker-directive>
                            <h1 style="color: saddlebrown">{{dt}}</h1>
                            <input type="submit" ng-click="addItem(data); expanded = !expanded">
                        </form>
                    </div>
                </li>
            </ul>
    
</div>