<div class="container" ng-controller="userCtrl">
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Register</h2>
        </div>
        <div class="row">
            <label for="email">Email</label>
            <input id="username" ng-model="email">
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input id="password" ng-model="password">
        </div>
        <div class="row">
            <label for="verify">Verify Password</label>
            <input id="verify" ng-model="verify">
        </div>
        <div class="row">
            <button type="submit" ng-click="createUser()">Register</button>
        </div>
        <p ng-if="message">{{message}}</p>
        <p ng-if="error">Error:{{ error }}</p>
        <a href="/#/login"><p class="small">Already Registered? Click here to login.</p></a>
    </div>
</div>