@import 'login';
@import 'navbar';
@import 'addfood';
@import 'inventory';

html {
  box-sizing: border-box;
}

.atext {
    color: black;
}

.dateDiv {
    color: black;
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}