<div class="container" ng-app ng-controller="inventoryCtrl">
    <navbar-directive></navbar-directive> 
    <div class="dateDiv row">
        <span> Today is <text class="bold">{{date | date:'EEEE MMMM d, yyyy'}}</text></span>
        <span class="row">Inventory</span>
    </div>
    <div class="contentDiv">
        <div class="tileRow">
            <div class="col-xs-4" ng-repeat="data in data | orderBy:'dateMin':false">
                <div class="foodTile" ng-class="{expired: {{data.dateMin | amDifference : null : 'days'}} < 0, good: {{data.dateMin | amDifference : null : 'days'}} >= 0}">
                    <div class="row top-row">
                        <div class="col-xs-6">
                            <a class="atext" ng-click="expanded = !expanded">{{data.food}}
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <a class="atext" ng-click=""><span class="glyphicon glyphicon-trash" ng-click="deleteFood(data.food)"></span></a>
                        </div>
                        <div class="col-xs-5 useByDiv">{{data.dateMin | amDifference : null : 'days'}} days
                        </div>
                    </div>
                    <div uib-collapse="!expanded"> 
                        <div class="row bottom-row">
                            <div class="col-xs-4">
                                <span class="badge">{{data.storage}}</span>
                                <span class="badge">{{data.state}}</span>
                            </div>
                            <div class="col-xs-7 useByDiv1">
                                <div>Use by {{data.dateMax | amDateFormat:'dddd, MMMM Do YYYY'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>